USE [master]
GO
/****** Object:  Database [SpaDiego]    Script Date: 13/3/2022 23:43:15 ******/
CREATE DATABASE [SpaDiego]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SpaDiego', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SpaDiego.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SpaDiego_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SpaDiego_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SpaDiego].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SpaDiego]
GO
/****** Object:  Table [dbo].[SpaCentro]    Script Date: 13/3/2022 23:43:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpaCentro](
	[id] [varchar](50) NOT NULL,
	[Sexo] [varchar](1) NULL,
	[ingresos] [money] NULL,
	[PromVisit] [float] NULL,
	[Edad] [int] NULL,
	[Sauna] [varchar](1) NULL,
	[Masaje] [varchar](1) NULL,
	[Hidro] [varchar](1) NULL,
	[Yoga] [varchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpaEscalon]    Script Date: 13/3/2022 23:43:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpaEscalon](
	[id] [varchar](50) NOT NULL,
	[Sexo] [varchar](1) NULL,
	[ingresos] [money] NULL,
	[PromVisit] [float] NULL,
	[Edad] [int] NULL,
	[Sauna] [varchar](1) NULL,
	[Masaje] [varchar](1) NULL,
	[Hidro] [varchar](1) NULL,
	[Yoga] [varchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpaSantaTecla]    Script Date: 13/3/2022 23:43:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpaSantaTecla](
	[id] [varchar](50) NOT NULL,
	[Sexo] [varchar](1) NULL,
	[ingresos] [money] NULL,
	[PromVisit] [float] NULL,
	[Edad] [int] NULL,
	[Sauna] [varchar](1) NULL,
	[Masaje] [varchar](1) NULL,
	[Hidro] [varchar](1) NULL,
	[Yoga] [varchar](1) NULL
) ON [PRIMARY]
GO
USE [master]
GO
